.notfound{
    background-image: url("https://i.ibb.co/gtXLnZj/podcast-banner-1060x561.jpg");
      height: 550px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}